<style>p { margin-top: 8vh; }</style>

<script src="../../climb-steepness-icon-element.js"></script>

<p>A vertical climb is shown by a vertical rock face on the right</p>
<climb-steepness-icon degrees-overhung="0"></climb-steepness-icon>

<p>A 10&deg; overhang leans 10&deg; to the left</p>
<climb-steepness-icon degrees-overhung="10"></climb-steepness-icon>

<p>A 45&deg; slab leans right heavily</p>
<climb-steepness-icon degrees-overhung="-45"></climb-steepness-icon>

<p>This is a roof</p>
<climb-steepness-icon degrees-overhung="85"></climb-steepness-icon>

<p>
  You can use any degree to describe the steepness
  <br>
  The range below goes from 90&deg; (roof) to -57&deg; (friction slab)
</p>
<div style="display:flex;flex-flow:row wrap;">
    <climb-steepness-icon degrees-overhung="90"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="84"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="82"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="78"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="60"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="50"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="45"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="38"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="20"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="17"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="13"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="7"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="2"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="0"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="-5"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="-10"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="-18"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="-25"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="-30"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="-45"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="-57"></climb-steepness-icon>
</div>
