<div id="photo"></div>

<script type="module">

    import photoOverlayStaticSvg from "../../photo-overlay-static-svg.js";

    const svg = photoOverlayStaticSvg({

        url:    './the-pearl-in-red-rocks.jpg',
        size:   [1000,750],

        climbs: [{url:  'https://www.thecrag.com/en/climbing/united-states/red-rock/route/1744401123',
                  name: 'The Pearl',
                  style: {stroke:'LimeGreen',strokeWidth:12,strokeDasharray:'1 14',filter:'drop-shadow(0 0 3px white)'},
                  path: [[32,37],[30,60],[21.9,83.3],[23,87],[26.8,90.4]]},

                 {url:  'https://www.thecrag.com/en/climbing/united-states/red-rock/route/3119849892',
                  style: {stroke:'ForestGreen',strokeWidth:8,strokeDasharray:'14',filter:'drop-shadow(0 0 3px white)'},
                  name: 'The Clam Bumper',
                  path: [[45,50],[45,90]]},

                 {url:  'https://www.thecrag.com/en/climbing/united-states/red-rock/route/3481315611',
                  name: 'Clam Bumper Right',
                  style: {stroke:'ForestGreen',strokeWidth:8,strokeDasharray:'14'},
                  path: [[50,40],[70,70]]}],

        areas: [{url: 'https://www.thecrag.com/climbing/united-states/red-rock/area/1744399845',
                 name: 'The Pearl Boulder',
                 style: {stroke:'OrangeRed',strokeWidth:5,filter:'drop-shadow(0 0 3px white)'},
                 perimeter: [[6.484,20.57],[39.47,16.29],[48.3,10.14],
                             [69.35,10.28],[77.57,23.91],[81.68,72.84],
                             [76.07,83.1],[57.12,92.8],[43.68,97.7],
                             [35.06,97.6],[19.62,88.5],[20.12,74.18],
                             [15.81,65.36],[9.191,48.24],[6.484,20.57]]}]
    });
    document.querySelector('#photo').appendChild(svg);

</script>
