
<script src="../../climb-steepness-icon-element.js"></script>

<p>
    This climb-steepness-icon is a custom HTML Element
    (for a climb that&apos;s 30&deg; overhung)
</p>

<climb-steepness-icon degrees-overhung="30">steep</climb-steepness-icon>
