<style>
  body {
    background: none transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }
</style>

<div id="container"></div>

<script type="module">
    import Flagpole from "../../climb-steepness-flagpole.js";
    const dial = new Flagpole();
    dial.setSteepness([
        {startingAt: 0.0, degreesOverhung: -15},
        {startingAt: 0.2, degreesOverhung:   0},
        {startingAt: 0.7, degreesOverhung: 10},
    ])
    document.querySelector('#container').appendChild(dial.container);
</script>
