
<div id="editor-area"></div>

<script type="module">

    import Editor from "../../photo-overlay-editor.js";

    const editor = new Editor('./the-pearl-in-red-rocks.jpg');

    editor.addClimbLayer({
        id:   '864235',
        name: 'The Pearl',
        path: [[32,37],[30,60],[21.9,83.3],[23,87],[26.8,90.4]]
    });

    editor.startEditingClimb('864235');

    document.querySelector('#editor-area').appendChild(editor.container);

</script>
