<p>edit the sections</p>

<div id="input-area"></div>
<div id="output-area"></div>

<script type="module">
    import ClimbSteepnessInput from "../../climb-sections-input.js";
    import ClimbSectionsBars from "../../climb-sections-bars.js";

    const input = new ClimbSteepnessInput();
    const bars  = new ClimbSectionsBars();

    document.querySelector('#input-area').appendChild(input.container);
    document.querySelector('#output-area').appendChild(bars.container);

    input.setValue([
        {startingAt: 0.0, description: "offwidth"},
        {startingAt: 0.2, description: "crack"},
        {startingAt: 0.8, description: "face"},
    ])
    bars.setSections(input.getValue());
    input.oninput = v => bars.setSections(v);

</script>
