<style>
  figure {
    padding-top: 4vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2em;
  }
  figcaption {
    padding-bottom: 1em;
  }
</style>

<!--
<climb-steepness-icon degrees-overhung="50">very steep</climb-steepness-icon>
-->

<div id="examplesList"></div>

<script type="module">
    import Icon from "../../climb-steepness-icon.js";
    const examplesList = document.querySelector('#examplesList');

    for (let deg of [0, 10, 50, 90, -10, -45]) {
        const figure     = document.createElement('figure');
        const figcaption = document.createElement('figcaption');
        const icon       = new Icon();
        figcaption.innerHTML = `${deg}&deg; overhung`;
        icon.redraw(deg);
        figure.appendChild(icon.svg);
        figure.appendChild(figcaption);
        examplesList.appendChild(figure);
    }

    function addFigure(deg, size, style){
        const figure     = document.createElement('figure');
        const figcaption = document.createElement('figcaption');
        const icon       = new Icon(deg);
        icon.redraw(deg, size, style);
        figcaption.innerHTML = `${deg}&deg; overhung`;
        figure.appendChild(icon.svg);
        figure.appendChild(figcaption);
        examplesList.appendChild(figure);
    }
</script>
