<style>
    output {
        padding:1em;
        display:block;
        width: fit-content;
        font-size:12px;
        white-space:pre;
        font-family: mono,mono;
        background-color:#eee;
    }
</style>
<p>edit the steepness input.</p>

<div id="input-area"></div>
<output id="output-area"></output>

<script type="module">
    import ClimbSteepnessInput from "../../climb-steepness-input.js";

    const inputArea  = document.querySelector('#input-area');
    const outputArea = document.querySelector('#output-area');
    const input      = new ClimbSteepnessInput();

    input.setValue([
        {startingAt: 0.0, degreesOverhung: -15},
        {startingAt: 0.2, degreesOverhung:   0},
        {startingAt: 0.8, degreesOverhung: -10},
    ])

    inputArea.appendChild(input.container);

    outputArea.textContent = JSON.stringify(input.getValue(), null, 2);

    input.oninput = v => {
        outputArea.textContent = JSON.stringify(v, null, 2);
    };
</script>
