<style>
  figure {
    padding-top: 4vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2em;
  }
  figcaption {
    padding-bottom: 1em;
  }
</style>

<script src="../../climb-steepness-icon-element.js"></script>

<p>The icon can be styled</p>

<p>
    You can specify the <code>border-width</code> and <code>border-radius</code>
</p>

<div>
    <climb-steepness-icon degrees-overhung="30" border-width=6 border-radius="0"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=4 border-radius="0"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=2 border-radius="0"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=1 border-radius="0"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=0 border-radius="0"></climb-steepness-icon>
<div>
<div>
    <climb-steepness-icon degrees-overhung="30" border-width=6 border-radius="5"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=4 border-radius="5"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=2 border-radius="5"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=1 border-radius="5"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=0 border-radius="5"></climb-steepness-icon>
<div>
<div>
    <climb-steepness-icon degrees-overhung="30" border-width=6 border-radius="10"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=4 border-radius="10"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=2 border-radius="10"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=1 border-radius="10"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=0 border-radius="10"></climb-steepness-icon>
<div>
<div>
    <climb-steepness-icon degrees-overhung="30" border-width=6 border-radius="25"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=4 border-radius="25"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=2 border-radius="25"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=1 border-radius="25"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-width=0 border-radius="25"></climb-steepness-icon>
<div>

<p>
    The <code>width</code> and <code>height</code> height of the overall icon is also configurable
</p>

<climb-steepness-icon degrees-overhung="-20" height="180" width="100"></climb-steepness-icon>
<climb-steepness-icon degrees-overhung="-20" height="100" width="100"></climb-steepness-icon>
<climb-steepness-icon degrees-overhung="-20" height="70"  width="100"></climb-steepness-icon>
<climb-steepness-icon degrees-overhung="-20" height="20"  width="20"></climb-steepness-icon>


<p>
    <code>rock-color</code>,
    <code>sky-color</code>, and
    <code>border-color</code>
    will accept any
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value">CSS Color Value</a>
</p>

<div>
    <climb-steepness-icon degrees-overhung="30" rock-color="SandyBrown" ></climb-steepness-icon>  <!-- rock colors -->
    <climb-steepness-icon degrees-overhung="30" rock-color="Brown"      ></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" rock-color="SaddleBrown"></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" rock-color="#333"       ></climb-steepness-icon>
</div>
<div>
    <climb-steepness-icon degrees-overhung="30" sky-color="Blue"            ></climb-steepness-icon> <!-- sky colors -->
    <climb-steepness-icon degrees-overhung="30" sky-color="PowderBlue"      ></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" sky-color="#5F9EA0"         ></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" sky-color="rgb(240,234,214)"></climb-steepness-icon>
</div>
<div>
    <climb-steepness-icon degrees-overhung="30" border-color="Black"        ></climb-steepness-icon> <!-- border colors -->
    <climb-steepness-icon degrees-overhung="30" border-color="SlateGray"    ></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-color="#BBB"         ></climb-steepness-icon>
    <climb-steepness-icon degrees-overhung="30" border-color="rgb(230,230,230)"></climb-steepness-icon>
</div>


<p>There are plenty of options</p>

<div style="padding:20px;">
    <climb-steepness-icon
       degrees-overhung="-5"
       sky-color="lightblue"
       rock-color="black"
       border-color="gray"
       height="100"
       width="100"
       border-radius="50"
       border-width="2"></climb-steepness-icon>
    <climb-steepness-icon
       degrees-overhung="15"
       sky-color="white"
       rock-color="black"
       border-color="black"
       height="80"
       width="80"
       border-radius="4"
       border-width="5"></climb-steepness-icon>
    <climb-steepness-icon
       degrees-overhung="-20"
       sky-color="#ffffcc"
       rock-color="#dccd9e"
       height="100"
       width="60"
       border-radius="0"
       border-width="0"></climb-steepness-icon>
    <climb-steepness-icon
       degrees-overhung="-10"
       sky-color="#aec6cf"
       rock-color="#836953"
       height="150"
       width="80"
       border-radius="20"
       border-color="#ffd700"
       border-width="8"></climb-steepness-icon>
    <climb-steepness-icon
       degrees-overhung="15"
       sky-color="#e9e4f5"
       rock-color="#4a3f1b"
       height="40"
       width="40"
       border-radius="10"
       border-width="0"></climb-steepness-icon>
    <climb-steepness-icon
       degrees-overhung="65"
       sky-color="white"
       rock-color="green"
       height="100"
       width="100"
       border-radius="20"
       border-color="black"
       border-width="5"></climb-steepness-icon>
</div>
