html {
  color: #111;
}


.project-intro,
.project-outro {
  margin: 20vh auto;
  max-width: 800px;
  margin-left: 2em;
}

.project-intro p {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
}
.project-outro p.smaller,
.project-intro p.smaller {
  max-width: 500px;
  font-size: 0.8rem;
}



h1 {
  font-size: 2rem;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}

/* each subject needs to be clearly distinguished;
 * they are standalone topics.
 */
.subject {
  max-width: 800px;
  margin: 10vh auto;
  padding-top: 1em;
}
.subject h2 {
  font-size: 1.2rem;
}
.subject-intro {
  padding-left: 1.5em;
  padding-bottom: 0;
  max-width: 40ch;
}

/* they can be multiple "approaches" to addressing a particular subject
 * the goal is to identify help a user identify how/if this approach
 * would be useful to their needs
 */
.approaches {
  display: flex;
  flex-flow: row wrap;
  padding: 1.5em;
  gap: 1.5em;
}
.approach h3 {
  font-size: 1.1em;
}
.approach {
  flex-grow: 1;
  width: 30%;
  padding: 10px;
}

/* these are subtle, supporting lists under each approach
 * they're intented to ensure that source code is readily available
 */
.implementations {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}
.implementations::before {
  content: ' ';
  display: block;
  height: 0;
  width: 80%;
  border-top: dashed 1px rgba(0, 0, 0, 0.5);
  margin: 0.5em auto;
}
.implementations li:not(:last-child) {
  margin-bottom: 0.5em;
}
.implementations li a:first-child {
  font-family: mono, mono;
  display: block;
}

/*
 *
 */
.subject {
  background-color: #8ac0d0;
}
.subject h3 {
  font-weight: normal;
  font-size: 1.2em;
}
.approach {
  border: solid 2px black;
  background-color: #e1ca8c;
  border-radius: 0.5em;
}
.subject:target,
.approach:target {
  background-color: yellow;
}

p:target {
  background-color: yellow;
  outline: solid 3px yellow;
}
