html {
    font-family: sans;
    font-size: 17px;
}
h1, h2, h3, h4 {
    font-size: 1.3rem;
    font-weight: bold;
}

.todo {
  background-color: red;
  color: yellow;
  outline: solid 5px red;
}
.todo::before {
  content: 'TODO: ';
  display: inline;
}
