<style>
    output {
       white-space: pre;
    }
</style>

<p>edit the sections</p>

<div id="input-area"></div>
<output id="output-area"></output>

<script type="module">
    import ClimbSteepnessInput from "../../climb-sections-input.js";
    import ClimbSectionsBars from "../../climb-sections-bars.js";

    const inputArea  = document.querySelector('#input-area');
    const outputArea = document.querySelector('#output-area');
    const input = new ClimbSteepnessInput();

    inputArea.appendChild(input.container);

    input.setValue([
        {startingAt: 0.0, description: "offwidth"},
        {startingAt: 0.2, description: "crack"},
        {startingAt: 0.8, description: "face"},
    ])

    outputArea.textContent = JSON.stringify(input.getValue(), null, 2);
    input.oninput = v => {
         outputArea.textContent = JSON.stringify(v, null, 2);
    }

</script>
