
<div id="editor-area"></div>

<script type="module">
import Editor from "../../photo-overlay-editor.js";

const editor = new Editor('./the-pearl-in-red-rocks.jpg');

editor.addAreaLayer({
    id:        '000001',
    name:      'The Pearl Boulder',
    perimeter: [[6.484,20.57],[39.47,16.29],[48.3,10.14],
                [69.35,10.28],[77.57,23.91],[81.68,72.84],
                [76.07,83.1],[57.12,92.8],[43.68,97.7],
                [35.06,97.6],[19.62,88.5],[20.12,74.18],
                [15.81,65.36],[9.191,48.24],[6.484,20.57]]
});

editor.startEditingArea('000001');

document.querySelector('#editor-area').appendChild(editor.container);

</script>
