<p>
  the static-svg viewer requires an image size <code>[width, height]</code>,<br>
  a proviede function to read the image size in-browser <br>
  avoids the need for heavier, server-side solutions.
<p>

<div style="max-width:500px" id="photo"></div>

<script type="module">

import * as viewer from "../../photo-overlay-static-svg.js";

const url = './the-pearl-in-red-rocks.jpg';

const size = await viewer.getImageSizeFromUrl(url);

console.log('loaded image size %s from url %s', size, url);

const svg = viewer.photoOverlayStaticSvg({
    url,
    size,
    climbs: [{url: '#the-pearl',
              name: 'The Pearl',
              path: [[32,37],[30,60],[21.9,83.3],[23,87],[26.8,90.4]]},
             {url: '#the-clam-bumper',
              name: 'The Clam Bumper',
              path: [[45,50],[45,80]]},
             {url: '#clam-bumper-right',
              name: 'Clam Bumper Right',
              path: [[50,40],[70,70]]}],
    areas: [{url: '#the-pearl-boulder',
             name: 'The Pearl Boulder',
             perimeter: [[6.484,20.57],[39.47,16.29],[48.3,10.14],
                         [69.35,10.28],[77.57,23.91],[81.68,72.84],
                         [76.07,83.1],[57.12,92.8],[43.68,97.7],
                         [35.06,97.6],[19.62,88.5],[20.12,74.18],
                         [15.81,65.36],[9.191,48.24],[6.484,20.57]]}]
});

document.querySelector('#photo').appendChild(svg);

</script>
