<style>
  figure {
    padding-top: 5vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2em;
  }
  figcaption {
    padding-bottom: 1em;
  }
</style>

<div id="examplesList"></div>

<script type="module">
    import ClimbSteepnessDial from "../../climb-steepness-dial.js";
    const examplesList = document.querySelector('#examplesList');
    const examples = [
        ["A vertical line is a vertical climb", 
         [[0, 0]]],

        ["A left-leaning line is an overhung climb", 
         [[0, 45]]],

        ["A right-leaning line is slab",
         [[0, -10]]],

        ["Starts with slab, becomes vertical at the halfway point",
         [[0,-15],[0.5,0]]],

        ["This climb gets progressively steeper",
         [[0,0],[0.2,20],[0.4,35],[0.7,45]]],

        ["A roof in the center",
         [[0,0],[0.4,90],[0.6,45]]],
    ];

    for (let [desc, pts] of examples) {
        const fig  = document.createElement('figure');
        const figc = document.createElement('figcaption');
        const dial = new ClimbSteepnessDial();
        dial.setSteepness(pts.map(pt => {
            return {startingAt:pt[0],degreesOverhung:pt[1]};
        }));
        figc.textContent = desc;
        fig.appendChild(dial.container);
        fig.appendChild(figc);
        examplesList.appendChild(fig);
    }
</script>
