<style>
  figure {
    padding-top: 5vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2em;
  }
  figcaption {
    padding-bottom: 1em;
  }
</style>

<div id="examplesList"></div>

<script type="module">
    import Flagpole from "../../climb-steepness-flagpole.js";
    const examplesList = document.querySelector('#examplesList');
    const examples = [
        ["A flagpole without flags is a vertical climb", 
         [[0, 0]]],

        ["A flag to the left is an overhung climb", 
         [[0, 45]]],

        ["To the right is slab",
         [[0, -10]]],

        ["A climb that gets progressively steeper, shows increasingly larger flags",
         [[0,0],[0.2,20],[0.4,35],[0.7,45]]],

        ["Starts with slab, becomes vertical",
         [[0,-15],[0.4,0]]],

        ["A roof in the center is marked by an obviously large flag",
         [[0,0],[0.4,90],[0.6,45]]],
    ];

    for (let [desc, pts] of examples) {
        const figure     = document.createElement('figure');
        const figcaption = document.createElement('figcaption');
        const flagpole   = new Flagpole();
        flagpole.setSteepness(pts.map(pt => {
            return {startingAt:pt[0],degreesOverhung:pt[1]};
        }));
        figcaption.textContent = desc;
        figure.appendChild(flagpole.container);
        figure.appendChild(figcaption);
        examplesList.appendChild(figure);
    }
</script>
