<p>
  this climb starts slightly slabby, <br>
  becomes vertical, and              <br>
  ends with a short overhang.        <br>
</p>

<div id="container"></div>

<script type="module">
    import ClimbSteepnessDial from "../../climb-steepness-dial.js";
    const dial = new ClimbSteepnessDial();
    dial.setSteepness([
        {startingAt: 0.0, degreesOverhung: -15},
        {startingAt: 0.2, degreesOverhung:   0},
        {startingAt: 0.8, degreesOverhung: -10},
    ])
    document.querySelector('#container').appendChild(dial.container);
</script>
