<p>
  All data for this is pulled from (and written to) a
  <a href="database.js">"database"</a>.<br>
  For the sake of a simple demo, the code below is optimisitic;<br>
  it assumes successful writes.<br>
  Ther is a summary of the db at the bottom of the page.
</p>

<style>
  .interface {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: "editor search"
                         "summary summary";
  }
  .editor-area {
    grid-area: editor;
  }
  .search {
    grid-area: search;
  }
  .summary {
    grid-area: summary;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
  }

  .summary th {
    text-align: left;
  }
  .summary table {
    background: #ddd;
    font-size: 10px;
    font-family: mono, mono;
  }
  .summary td {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .photo-overlay-editor__svg {
    max-width: 500px;
    height: auto;
  }

  .search {
    width: 300px;
  }
  .search__input {
    width: 100%;
    height: 2em;
  }
  .search__results {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1em;
  }
  .search__result {
    margin: 0;
    border: solid 1px black;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
</style>

<section class="interface">
  <div id="editor-area"></div>
  <div class="search">
    <input class="search__input"
           id="search-input"
           placeholder="add new climb or area"
           autocomplete=off></input>
    <ul class="search__results" id="search-results"></ul>
  </div>
  <div id='database-summary' class="summary"></db>
</section>

<script type="module">

import Editor         from "../../photo-overlay-editor.js";
import AcmeClimbingDB from "./database.js";

const searchInput   = document.querySelector('#search-input');
const searchResults = document.querySelector('#search-results');
searchInput.oninput = updateResults;

const db = new AcmeClimbingDB();
await db.connect();

const photoId = "1011"
const photo   = db.getPhoto(photoId)
const editor  = new Editor(photo.url);


for (let areaLayer of photo.areas) {
    const area = db.getArea(areaLayer.id);
    editor.addAreaLayer({
        id:        area.id,
        name:      area.name,
        perimeter: areaLayer.points,
    });
}

for (let climbLayer of photo.climbs) {
    const climb = db.getClimb(climbLayer.id);
    editor.addClimbLayer({
        id:   climb.id,
        name: climb.name,
        path: climbLayer.points,
    });
}

editor.onupdate = (v) => {
    db.setPhotoAreaLayers(photoId, v.areas);
    db.setPhotoClimbLayers(photoId, v.climbs);
    redraw();
}

redraw();

function redraw(){
    updateDatabaseDump();
    updateResults();
}

function updateResults(){
    searchResults.innerHTML = ''; // yuck
    if (!searchInput.value) return;
    for (let {name,kind,id} of db.search(searchInput.value)) {
      const li = document.createElement('li');
      const nameSpan = document.createElement('span');
      const kindSpan = document.createElement('span');
      const addedSpan = document.createElement('span');
      li.classList.add('search__result');
      li.appendChild(nameSpan);
      li.appendChild(kindSpan);
      nameSpan.textContent = name;
      kindSpan.textContent = kind;
      li.dataset.kind = kind;
      if (kind == 'area') {
        li.dataset.added = editor.hasAreaLayer(id) ? 'yes' : 'no';
      } else {
        li.dataset.added = editor.hasClimbLayer(id) ? 'yes' : 'no';
      }
      searchResults.appendChild(li);
      li.onclick = e => {
        if (kind == 'area') {
           if (!editor.hasAreaLayer(id)) editor.addAreaLayer({name,id,perimeter:[]});
           editor.startEditingArea(id);
        } else {
           if (!editor.hasClimbLayer(id)) editor.addClimbLayer({name,id,perimeter:[]});
           editor.startEditingClimb(id);
        }
      }
    }
}


function updateDatabaseDump(){
    const summary = document.querySelector('#database-summary');
    summary.innerHTML = '';
    const {climbs,areas,photos,climbLayers,areaLayers} = db.getAsTables();
    const climbTable = table("climbs", ["climb_id", "name", "grade"], climbs);
    const areaTable = table("areas", ["area_id", "name"], areas);
    const photoTable = table("photos", ["photo_id", "url"], photos);
    const clTable = table("climb_layers", ["photo_id", "points", "climb_id"], climbLayers);
    const alTable = table("area_layers", ["photo_id", "points", "area_id"], areaLayers);
    summary.appendChild(climbTable);
    summary.appendChild(areaTable);
    summary.appendChild(photoTable);
    summary.appendChild(clTable);
    summary.appendChild(alTable);

}

function table(name, headers, rows){
    const table = document.createElement('table');
    const thead = document.createElement('thead');
    const tbody = document.createElement('tbody');
    const tr = document.createElement('tr');
    table.appendChild(thead);
    thead.appendChild(tr);
    table.appendChild(tbody);
    for (let header of headers) {
        const th = document.createElement('th');
        th.textContent = header;
        tr.appendChild(th);
    }
    for (let row of rows) {
       const tr = document.createElement('tr');
       for (let field of row) {
           const td = document.createElement('td');
           td.textContent = field;
           tr.appendChild(td);
       }
       tbody.appendChild(tr);
    }
    return table;
}

document.querySelector('#editor-area').appendChild(editor.container);

</script>

<!-- 
  TODO: find a climb that shows up on two photos 
  TODO: should there be granular events? 
            e.g -> onedit = (e) => { e.type === 'edit';  target === "climbLayer" ...
  TODO: should there be a full rewrite on every edit?
-- >
