<div>edit the steepness input.</div>
<div id="input-area"></div>
<div id="output-area"></div>

<script type="module">
    import ClimbSteepnessInput from "../../climb-steepness-input.js";
    import ClimbSteepnessFlagpole from "../../climb-steepness-flagpole.js";

    const input      = new ClimbSteepnessInput();
    const flagpole   = new ClimbSteepnessFlagpole();

    document.querySelector('#input-area').appendChild(input.container)
    document.querySelector('#output-area').appendChild(flagpole.container)

    input.setValue([
        {startingAt: 0.0, degreesOverhung: -15},
        {startingAt: 0.2, degreesOverhung:   0},
        {startingAt: 0.8, degreesOverhung: -10},
    ]);

    flagpole.setSteepness(input.getValue());

    input.oninput = v => flagpole.setSteepness(v);
</script>
