<style>
  svg { margin-right: 2em; }
</style>
<script>
  window.exampleData = [
    [{startingAt:   0, degreesOverhung:   0}],
    [{startingAt:   0, degreesOverhung:  45}],
    [{startingAt:   0, degreesOverhung: -10}],
    [{startingAt:   0, degreesOverhung:   0},
     {startingAt: 0.2, degreesOverhung:  20},
     {startingAt: 0.4, degreesOverhung:  35},
     {startingAt: 0.7, degreesOverhung:  45}],
    [{startingAt:   0, degreesOverhung: -15},
     {startingAt: 0.4, degreesOverhung:   0}],
    [{startingAt:   0, degreesOverhung:  0},
     {startingAt: 0.4, degreesOverhung: 90},
     {startingAt: 0.6, degreesOverhung: 45}]
  ];
</script>

<section>
  <h2>The Default Style</h2>
  <p>match an existing color scheme</p>
  <div id="default-examples"></div>
  <script type="module">
      import Flagpole from "../../climb-steepness-flagpole.js";
      for (let pts of window.exampleData) {
        const flagpole = new Flagpole();
        flagpole.setSteepness(pts)
        document.querySelector('#default-examples').appendChild(flagpole.container);
      }
  </script>
</section>


<section>
  <h2>Simple Colors</h2>
  <p>match an existing color scheme</p>
  <div id="color-examples"></div>
  <script type="module">
      import Flagpole from "../../climb-steepness-flagpole.js";
  
      const color = pts => {
        const flagpole = new Flagpole();
        flagpole.overhangColor   = 'orange';
        flagpole.slabColor       = 'blue';
        flagpole.flagpoleColor   = 'teal';
        flagpole.backgroundColor = 'yellow';
        flagpole.setSteepness(pts);
        return flagpole;
      }
  
      const examples = document.querySelector('#color-examples');

      for (let steepnessMeasurements of window.exampleData) {
         examples.appendChild(color(steepnessMeasurements).container);
      }
  </script>
</section>

<h2>Calculated Flag Colors</h2>
<p>use varying intensities of green and red to reinforce steepness</p>
<div id="gradient-examples"></div>

<script type="module">
    import Flagpole from "../../climb-steepness-flagpole.js";

    class GradientFlagpole extends Flagpole {
      constructor(){ super() }

      /*
       *
       * adjust the opacity and color based on the steepness
       * 
       *  roof                vertical               slab
       *  100deg               0deg                -50deg
       * <=======================|=======================>
       *  |         red          |         green        |
       *  | solid    transparent | transparent    solid |
       * 
       */
      flagColor(segment){
        const overhang = segment.degreesOverhung
        const maxSteep = 100;
        const maxSlab  = -50;
        const range = (a, low, high) => low + ((high-low) * a);
        if (overhang > 0) {
          const intensity = Math.min(maxSteep, overhang) / maxSteep;
          return `rgb(255,0,0,${range(intensity, 0.2, 1)})`;
        } else {
          const intensity = Math.max(maxSlab, overhang) / maxSlab;
          return `rgba(0,255,0,${range(intensity, 0.2, 1)})`;
        }
      }
    }
    const gradientExamples = document.querySelector('#gradient-examples');

    for (let climbSteepness of window.exampleData) {
        const flagpole = new GradientFlagpole();
        flagpole.setSteepness(climbSteepness);
        gradientExamples.appendChild(flagpole.container);
    }
</script>


<section>
  <h2>Using A Border</h2>
  <p>a border can help convey the min and max overhang</p>
  <div id="bordered-examples"></div>
  <script type="module">
      import Flagpole from "../../climb-steepness-flagpole.js";
  
      const examples = document.querySelector('#bordered-examples');
  
      window.exampleData.forEach(points => {
        const flagpole = new Flagpole();
        flagpole.setSteepness(points);

        //
        // add a border here
        //
        flagpole.svg.style.border = "solid 1px black";

        examples.appendChild(flagpole.container);
      })

  </script>
</section>


<style>
  #bottom-bordered-examples .climb-steepness-flagpole {
    border-bottom: solid 1px black;
  }
</style>
<section>
  <h2>Using A Border (alternate)</h2>
  <p>just a bottom border is more subtle (this one uses only css)</p>
 
  <div id="bottom-bordered-examples"></div>
  <script type="module">
      import Flagpole from "../../climb-steepness-flagpole.js";
  
      const examples = document.querySelector('#bottom-bordered-examples');
  
      window.exampleData.forEach(points => {
        const flagpole = new Flagpole();
        flagpole.setSteepness(points);
        examples.appendChild(flagpole.container);
      })

  </script>
</section>

