<p>
    TOOD: describe
</p>

<div id="container"></div>

<script type="module">
    import ClimbSectionsBars from "../../climb-sections-bars.js";
    const bars = new ClimbSectionsBars();
    bars.setSections([
        {startingAt: 0.0, description:  "slab"},
        {startingAt: 0.2, description:  "face"},
        {startingAt: 0.7, description:  "crack"},
    ])
    document.querySelector('#container').appendChild(bars.container);
</script>
