<p>
    <a href="https://www.youtube.com/watch?v=CMCexFuxQeE">this climb</a>
    starts with short slab, <br>
    becomes seriously overhung,        <br>
    eases into a slight overhang, and  <br>
    finishes with slab.                <br>
</p>

<div id="container"></div>

<script type="module">
    import ClimbSteepnessFlagpole from "../../climb-steepness-flagpole.js";
    const flagpole = new ClimbSteepnessFlagpole();
    flagpole.setSteepness([
        {startingAt: 0.0, degreesOverhung:  -8},
        {startingAt: 0.2, degreesOverhung:  70},
        {startingAt: 0.7, degreesOverhung:  30},
        {startingAt: 0.9, degreesOverhung:  -8},
    ])
    document.querySelector('#container').appendChild(flagpole.container);
</script>
